<% if user_signed_in? %>
<p>Pagina Principal</p>

<p class="text-primary">	Bienvenidooo!!!!! <%= current_user.email%></p>
<div id="movements-catalog" class="panel panel-default">
  <div class="panel-heading"> Catálogo De Movimientos </div>
	<table class="table">
		<th>ID</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<% @movementcatalogs.each do |m| %>
		<tr>
		<td><%=	 m.id	%>	</td>
		<td><%=	 m.name	%>	</td>
		<td> <%= m.description %></td>
		</tr>
		<% end %>
	</table>
  </div>
						<hr />
<div id="select">
	<h2>Seleccionar movimientos</h2>
	<%= render "form" %>
</div>
<hr />

<div id="movements-select" class="panel panel-default">
		<div class="panel-heading">Movimientos Seleccionados</div>
		<table class="table">
			<th>Nombre </th>
			<th>Cantidad</th>
		<% @movementls.each do |m2| %>
		<tr>
		<td><%=	 m2.name	%>	</td>
		<td> <%= m2.quantity %></td>
		</tr>
		<% end %>
	</table>
	</div>

<%end%>
